[submodule "CAMs-and-KFintech-consolidated-report-import"]
	path = CAMs-and-KFintech-consolidated-report-import
	url = https://github.com/kvimal24-jpg/CAMs-and-KFintech-consolidated-report-import.git
